<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page non trouvée</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Header identique aux autres pages -->
    <header>
        <div class="logo">
            <img class="brand-logo" src="https://i.goopics.net/n2esuo.png" alt="LS Customs">
            <span>LS CUSTOMS</span>
        </div>
    </header>

    <section class="error-page">
        <h1>404 - Page non trouvée</h1>
        <p>Oops, la page que vous cherchez n'existe pas.</p>
    </section>
</body>

</html>